body {
  font-family: Arial;
  text-align: center;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 20px;
}

h1 {
  font-size: 28px;
}

input {
  padding: 12px;
  font-size: 18px;
  width: 80%;
  max-width: 300px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
}

button {
  padding: 14px 20px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  margin: 8px;
  background: #22c55e;
  color: white;
  width: 80%;
  max-width: 300px;
}

.card {
  width: 70px;
  height: 110px;
  font-size: 22px;
}
